<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogIn Page</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
  <body>
    <%- include('header'); %>

    <main>
      <div id="msgContainer">
        <p class="loginMsg">Message:  <%= locals.message %></p>
      </div>

      <form id="loginForm" method="POST" action="/login">
        <input type="email" id="email" name="email" placeholder="EMAIL" required />
        <input type="password" id="passowrd" name="password" placeholder="PASSWORD" required />
        <button id="loginBtn" type="submit">LogIn</button>
      </form>
    </main>

    <%- include('footer'); %>
  </body>
</html>