<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Page</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <%- include('header'); %>
  
  <main class="menuMain">

    <div id="msgContainer">
      <p class="msgTitle">Message:</p>  
      <ul class="msgList">
        <li><%= locals.message %></li>
      </ul>
    </div>

    <div class="menuContainer">
      <ul class="appList">
        <li>
          <a href="http://localhost:6200">
            <p>Film Finder</p>
            <p>Movie Search Site: You can search movies.</p>
          </a>
        </li>
        <li>
          <a href="http://localhost:5200">
            <p>Mikan Cuisine - Web Order</p>
            <p>Web Order Site: You can order dishes.</p>
          </a>
        </li>
        <li>
          <a href="http://localhost:7678">
            <p>Codey Goods Web Store</p>
            <p>Web Shop: You can order Codecademy Goods.</p>
          </a>
        </li>
      </ul>
    </div>
  
  </main>

  <%- include('footer'); %>
</body>
</html>