<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Page</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <%- include('header'); %>
  
  <main class="menuMain">

    <div id="msgContainer">
      <p class="msgTitle">Message:</p>  
      <ul class="msgList">
        <li><%= locals.message %></li>
      </ul>
    </div>

    <div class="menuContainer">
      <ul class="appList">
        <li>
          <a href="https://clever-dango-da3acc.netlify.app/">
            <p id="btn-title">Film Finder</p>
            <p id="btn-summary">You can search movies on this app.</p>
          </a>
        </li>
        <li>
          <a href="https://mikan-chef.netlify.app/">
            <p id="btn-title">Mikan Cuisine</p>
            <p id="btn-summary">You can check the menu and order dishes in this Chinese Restaurant.</p>
          </a>
        </li>
        <li>
          <a href="https://taskschedulemgtapp.netlify.app/">
            <p id="btn-title">Task and Schedule Management App</p>
            <p id="btn-summary">You can manage your tasks and schedule on this app.</p>
          </a>
        </li>
      </ul>
    </div>
  
  </main>

  <%- include('footer'); %>
</body>
</html>